<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.s3s3l.example.model" />
	</typeAliases>

	<plugins>
		<plugin
			interceptor="com.s3s3l.mybatis.pagination.PaginationInterceptor">
			<property name="database" value="postgresql" />
		</plugin>
	</plugins>
</configuration>